.demo-3d-cube{

	&.wrap {
		perspective: 80em;
		perspective-origin: 50% 10em;

		.cube {
			position: relative;
			width: 20em;

			height: 20em;
			background: purple;
			opacity: .5;
			line-height: 1em;

			transform-style: preserve-3d;

			&:hover{
				animation: spin 5s infinite linear;
				-webkit-animation: spin 5s infinite linear;
			}

			div{
				position: absolute;
				width: 20em;
				height: 20em;
				background: red;
				opacity: .5;
				border: 1px solid #fff;

				margin-top: -1em;
			}

			.front {
				transform: translateZ(10em);
			}
			.back {
				transform: translateZ(-10em) rotateY(180deg);
			}
			.left {
				transform: rotateY(-90deg) translateX(-10em);
				transform-origin: center left;
			}
			.right {
				transform: rotateY(90deg) translateX(10em);
				transform-origin: top right;
			}
			.top {
				transform: rotateX(-90deg) translateY(-10em);
				transform-origin: top center;
			}
			.bottom {
				transform: rotateX(90deg) translateY(10em);
				transform-origin: bottom center;
			}
		}

		.cube1 {
			position: absolute;
			margin: 5em;

			width: 10em;
			height: 10em;
			background: black;
			opacity: .5;
			line-height: 1em;
			color: white;

			transform-style: preserve-3d;

			transform-origin: 0 5em;
			animation: spin-vertical 5s infinite linear;
			-webkit-animation: spin-vertical 5s infinite linear;

			div{
				position: absolute;
				width: 10em;
				height: 10em;
				background: blue;
				opacity: .5;
				border: 1px solid #fff;

				margin-top: -1em;
			}

			.front {
				transform: translateZ(5em) rotateY(0deg);
			}
			.back {
				transform: translateZ(-5em) rotateY(180deg);
			}
			.left {
				transform: rotateY(-90deg) translateX(-5em);
				transform-origin: center left;
			}
			.right {
				transform: rotateY(90deg) translateX(5em);
				transform-origin: top right;
			}
			.top {
				transform: rotateX(-90deg) translateY(-5em);
				transform-origin: top center;
			}
			.bottom {
				transform: rotateX(90deg) translateY(5em);
				transform-origin: bottom center;
			}
		}

		@keyframes spin {
			from { transform: rotateY(0); }
			to { transform: rotateY(360deg); }
		}
		@-webkit-keyframes spin {
			from { -webkit-transform: rotateY(0deg); }
			to { -webkit-transform: rotateY(360deg); }
		}

		@keyframes spin-vertical {
			from { transform: rotateX(0); }
			to { transform: rotateX(-360deg); }
		}
		@-webkit-keyframes spin-vertical {
			from { -webkit-transform: rotateX(0); }
			to { -webkit-transform: rotateX(-360deg); }
		}
	}
}
		