/*
 * try for new style here
 */

.sliding-checkbox {
    position: relative;
    width: 5rem;
    height: 1.5rem;

	input[type='checkbox'] {
    	opacity: 0;
    	pointer-events: none;
    }

	input[type='checkbox']:checked ~ label {
	    background: #4c7;

	    &:after {
		    left: 3.6rem;
		}
	}

	label {
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.4), 1px 1px 1px rgba(255, 255, 255, 0.5);
	    border-radius: 3.5rem;
	    background: #ddd;
	    transition: background 400ms ease-in-out;
	    -webkit-transition: background 400ms ease-in-out;
		cursor: pointer;

		&:after {
		    content: "";
		    display: block;
		    position: absolute;
		    top: 0.1rem;
		    left: 0.1rem;
		    width: 1.3rem;
		    height: 1.3rem;
		    border-radius: 3.5rem;
		    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
		    background: #fff;
		    transition: left 200ms ease-in-out;
		    -webkit-transition: left 200ms ease-in-out;
		    cursor: pointer;
		    z-index: 1;
		}
	}
		
}

.demo-cube{
	&.wrap {
		perspective: 800px;
		perspective-origin: 50% 100px;

		.cube {
			position: relative;
			width: 200px;
			transform-style: preserve-3d;

			div{
				position: absolute;
				width: 200px;
				height: 200px;
				background: red;
				opacity: .5;
				border: 1px solid #999;
			}

			.back {
				transform: translateZ(-100px) rotateY(180deg);
			}
			.right {
				transform: rotateY(-270deg) translateX(100px);
				transform-origin: top right;
			}
			.left {
				transform: rotateY(270deg) translateX(-100px);
				transform-origin: center left;
			}
			.top {
				transform: rotateX(-90deg) translateY(-100px);
				transform-origin: top center;
			}
			.bottom {
				transform: rotateX(90deg) translateY(100px);
				transform-origin: bottom center;
			}
			.front {
				transform: translateZ(100px);
			}
		}
	}
}
	